@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(assets/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(assets/Roboto-Bold.ttf) format('truetype');
}

input::placeholder {
  color: #9ca3af;
}
